<tr>
  <td>
    <table class="fatitem" border="0">
      <tbody>
        <tr class="athing">
          <td class="ind"></td>
          <td valign="top" class="votelinks">
            <center>
              <a onclick="false" href="">
                <div class="votearrow" title="upvote"></div>
              </a>
            </center>
          </td>
          <td class="default">
            <div style="margin-top:2px; margin-bottom:-10px;">
              <span class="comhead">
                <a href="/users/<%= @comment.user.id %>" class="hnuser">
                  <%= @comment.user.name %>
                </a>
                <span class="age" title="2021-08-02T13:33:14">
                  <a href="/comments/<%= @comment.id %>">
                    <%= time_ago_in_words(@comment.created_at) %> ago
                  </a>
                </span>
                <span class="storyon"> on:
                  <a href="/posts/<%= @comment.post.id %>">
                    <%= @comment.post.title %>
                  </a>
                </span>
              </span>
            </div>
            <br>
            <div class="comment">
              <span class="commtext c00">
                <%= @comment.content %>
                <div class="reply"></div>
              </span>
            </div>
          </td>
        </tr>
        <tr style="height:10px"></tr>
        <tr>
          <td colspan="2"></td>
          <td>
            <%= form_with(url: '/comments/new', local: true) do |f| %>
              <input type="hidden" name="post" value="<%= @comment.post.id %>" />
              <input type="hidden" name="parent" value="<%= @comment.id %>" />
              <%= f.text_area :content, rows: "6", cols: "60" %>
              <br><br>
              <%= f.submit "submit" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <br><br>
  </td>
</tr>
