<tr id="pagespace" title="" style="height:10px"></tr>
<tr>
	<td>
		<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
      <tbody>
        <% unless @date.nil? %>
          <tr>
            <td colspan="2"></td>
            <td>Stories from <%= @date %></td>
          </tr>
          <tr style="height:9px"></tr>
          <tr>
            <td colspan="2"></td>
            <td>
              Go back a
              <span class="hnmore"><%= link_to "day", "/posts?date=#{@date.prev_day}" %></span>.
              Go forward a
              <span class="hnmore"><%= link_to "day", "/posts?date=#{@date.next_day}" %></span>.
            </td>
          </tr>
          <tr style="height:14px"></tr>
        <% end %>
        <% @posts.each_with_index do |post, index| %>
          <tr class="athing">
      		  <td align="right" valign="top" class="title">
      			  <span class="rank">
                <%= (index + 1).to_s + '.' %>
              </span>
      		  </td>
            <td valign="top" class="votelinks">
              <center>
                <%= link_to content_tag(:div, '', class: "votearrow", title: "upvote"),
                            "posts/#{post.id}/upvote", method: :post %>
              </center>
            </td>
      		  <td class="title">
              <%= link_to post.title, post.url.to_s, class: "storylink" %>
      			  <span class="sitebit comhead">(<span class="sitestr"><%= host_of_url(post.url) %></span>)</span>
      		  </td>
      	  </tr>

          <tr>
            <td colspan="2"></td>
            <td class="subtext"> 
              <%= pluralize(post.votes_count, 'point') %>
              <%= link_to "by " + post.user.name, "/users/#{post.user.id}", class: "hnuser" %>
              <span class="age">
                <%= link_to time_ago_in_words(post.created_at) + " ago", "/posts/#{post.id}" %>
              </span>
            | <%= link_to pluralize(post.comment_count, 'comment'), "/posts/#{post.id}" %>
            </td>
          </tr>

          <tr class="morespace" style="height:10px"></tr>

        <% end %>

        <tr>
          <td colspan="2"></td>
          <td class="title">
            <%= link_to "More", "/posts?page=#{(@page.to_i + 1).to_s}", class: "morelink" %>
          </td>
        </tr>
			</tbody>
		</table>
  </td>
</tr>
