<tr id="pagespace" style="height:10px"></tr>
<td>
  <table class="fatitem" border="0">
    <tbody>
      <tr class="athing" id="">
        <td align="right" valign="top" class="title">
          <span class="rank"></span>
        </td>
        <td valign="top" class="votelinks">
          <center>
            <%= link_to content_tag(:div, '', class: "votearrow", title: "upvote"),
                        "/posts/#{@post.id}/upvote", method: :post %>
          </center>
        </td>
        <td class="title">
          <%= link_to @post.title, @post.url.to_s, class: "storylink" %>
          <span class="sitebit comhead">(<span class="sitestr"><%= host_of_url(@post.url) %></span>)</span>
        </td>
      </tr>
      
      <tr>
        <td colspan="2"></td>
        <td class="subtext">
          <%= pluralize(@post.votes_count, 'point') %>
          by
          <%= link_to @post.user.name, "/users/#{@post.user.id}", class: "hnuser" %>
          <span class="age">
            <%= link_to time_ago_in_words(@post.created_at) + " ago", "/posts/#{@post.id}" %>
          </span>
        </td>
      </tr>
      
      <tr style="height:10px"></tr>
      <tr>
        <td colspan="2"></td>
        <td>
          <%= form_with(model: @comment, url: '/comments/new', local: true) do |f| %>
            <%= hidden_field_tag "post", @post.id %>
            <%= f.text_area :content, rows: "6", cols: "60" %>
            <br><br>
            <%= f.submit "submit" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br>

  
  <table border="0" class="comment-tree">
    <tbody>
      <% @comment_tree.each_with_index do |node, ind| %>
        <% comment = node[:comment] %>
        <% depth = node[:depth] %>
        <tr class="athing comtr">
          <td>
            <table border="0">
              <tbody>
                <tr>
                  <td class="ind">
                    <img src="/s.gif" height="1" width="<%= 40 * depth %>">
                  </td>
                  <td valign="top" class="votelinks">
                    <center>
                      <%= link_to content_tag(:div, '', class: "votearrow", title: "upvote"),
                                  "/comments/#{comment.id}/upvote", method: :post %>
                    </center>
                  </td>
              <td class="default">
                <div style="margin-top:2px; margin-bottom:-10px;">
                  <span class="comhead">
                    <%= pluralize(comment.votes_count, 'point') %> by
                    <%= link_to comment.user.name, "/user/#{comment.user.id}", class: "hnuser" %>
                    <span class="age">
                      <%= link_to time_ago_in_words(comment.created_at) + " ago", "/comments/#{comment.id}" %>
                    </span>
                  </span>
                </div>
                <br>
                <div class="comment">
                  <span class="commtext c00">
                    <%= comment.content %>
                      <div class="reply">
                        <p>
                          <font size="1">
                            <u>
                              <%= link_to "reply", "/comments/#{comment.id}" %>
                            </u>
                          </font>
                        </p>
                      </div>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <% end %>
      </tbody>
  </table>
  <br><br>
</td>
