<tr id="pagespace" style="height:10px"></tr>
<td>
  <table class="fatitem" border="0">
    <tbody>
      <tr class="athing" id="">
        <td align="right" valign="top" class="title">
          <span class="rank"></span>
        </td>
        <td valign="top" class="votelinks">
          <center>
            <a onclick="" href="">
              <div class="votearrow" title="upvote"></div>
            </a>
          </center>
        </td>
        <td class="title">
          <a href="/<%= @post.url.to_s %>" class="storylink">
            <%= @post.title %>
          </a>
          <span class="sitebit comhead">(<span class="sitestr"><%= URI(@post.url).host %></span>)</span>
        </td>
      </tr>
      
      <tr>
        <td colspan="2"></td>
        <td class="subtext">
          by
          <a href="/<%= @post.user.id %>" class="hnuser">
            <font color="#3c963c">
              <%= @post.user.name %>
            </font>
          </a>
          <span class="age" title="2021-07-27T14:36:50">
            <a href="/<%= @post.id %>">
              <%= time_ago_in_words(@post.created_at) %> ago
            </a>
          </span>
          <span id="unv_27972950"></span>
          | <a href="">hide</a>
          | <a href="" class="hnpast">past</a>
          | <a href="">favorite</a>
          | <a href="">comments</a>
        </td>
      </tr>
      
      <tr style="height:10px"></tr>
      <tr>
        <td colspan="2"></td>
        <td>
          <%= form_with(model: @comment, url: '/comments/new', local: true) do |f| %>
            <input type="hidden" name="post" value="<%= @post.id %>" />
            <%= f.text_area :content, rows: "6", cols: "60" %>
            <br><br>
            <%= f.submit "submit" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br>

  
  <table border="0" class="comment-tree">
    <tbody>
      <% @comment_tree.each_with_index do |node, ind| %>
        <% comment = node[:comment] %>
        <% depth = node[:depth] %>
        <tr class="athing comtr">
          <td>
            <table border="0">
              <tbody>
                <tr>
                  <td class="ind">
                    <img src="s.gif" height="1" width="<%= 40 * depth %>">
                  </td>
                <td valign="top" class="votelinks">
                  <center>
                    <a onclick="return false" href="">
                      <div class="votearrow" title="upvote"></div>
                    </a>
                  </center>
                </td>
              <td class="default">
                <div style="margin-top:2px; margin-bottom:-10px;">
                  <span class="comhead">
                    <a href="/user/<%= comment.user.id %>" class="hnuser">
                      <%= comment.user.name %>
                    </a>
                    <span class="age">
                      <a href="/comments/<%= comment.id %>"><%= time_ago_in_words(comment.created_at) %></a>
                    </span>
                  </span>
                </div>
                <br>
                <div class="comment">
                  <span class="commtext c00">
                    <%= comment.content %>
                      <div class="reply">
                        <p>
                          <font size="1">
                            <u>
                              <a href="/comments/<%= comment.id %>">reply</a>
                            </u>
                          </font>
                        </p>
                      </div>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <% end %>
      </tbody>
  </table>
  <br><br>
</td>
